/* Variables */
:root {
    --small-gap: 0.5rem;
    --standart-gap: 1rem;
    --deault-border-radius: 10px;
    --board-font-size: 1rem;
    --standart-grey: #cdcfd1;
    --border-selected: blue;
    --default-transition: 0.1s;
}
/* Main layout */
body {
    margin: 0;
    background: rgb(98,98,244);
    background: linear-gradient(135deg, rgba(98,98,244,1) 0%, rgba(95,228,255,1) 100%);
}
#main {
    height: 100%;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    'nav nav'
    'sidebar main';
}
#main {
    grid-area: main;
}
.icon {
    height: 1.1rem;
}

/* Nav */
#nav {
    grid-area: nav;

    display: flex;
    align-items: center;
    padding: 0 1rem;
    gap: var(--standart-gap);
    background-color: #2b63bd;
    color: white;
}
.nav__name {
    flex: 1;
}
.nav__search {
    width: 200px;
    height: 60%;
    padding: 0 0.5rem;
    border: none;
    border-radius: var(--deault-border-radius);
    color: white;
    background-color: #6895dd;
}
.nav__search::placeholder {
    color: white;
}
.nav__account {
    height: 36px;
}

/* Sidebar */
#sidebar {
    grid-area: sidebar;
    background-color: #326fd1;
    padding: var(--standart-gap);
    color: white
}
.sidebar__currentBoard,
.sidebar__boards-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--standart-gap);
}
.sidebar__close,
.sidebar__boards-add {
    background: none;
    border: none;
}

/* Board */
.board {
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr; 
    grid-auto-flow: column;
    grid-auto-columns: 280px;
    padding: var(--standart-gap);
    gap: var(--standart-gap);
    margin: 0;
    list-style-type: none;
}
.list {
    background-color: #ebeced;
    border-radius: 15px;
    padding: var(--small-gap)
}

.list__header {
    display: flex;
    align-items: center;
}
.list__settings {
    background-color: none;
    padding: 0.4rem;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: var(--default-transition);
}
.list__settings:hover {
    background-color: var(--standart-grey);
}
.settings-wrapper {
    position: relative;
}
.list__settings-contextMenu {
    position: absolute;
    background-color: white;
    top: 105%;
    left: 0;
    width: 200px;
    height: 100px;
    border-radius: var(--deault-border-radius);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.settings__contextMenu__header {
    font-size: 1rem;
    text-align: center;
}
.contextMenu-removeList {
    width: 100%;
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    transition: var(--default-transition);
}
.contextMenu-removeList:hover {
    background-color: var(--standart-grey);
}

.list__name {
    flex: 1;
    margin: 0.5rem 0.7rem;
    font-size: var(--board-font-size);
    cursor: pointer;
}
.list__name.input {
    border: none;
    background: transparent;
    padding: 0.3rem;
    height: 100%;
    cursor: pointer;
}
.list__items {
    padding: 0;
    list-style-type: none;
}
.list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--small-gap) - 2px);
    margin: var(--small-gap) 0;
    border: 2px solid white;
    border-radius: var(--deault-border-radius);
    background-color: white;
    font-size: var(--board-font-size);
    cursor: pointer;
    transition: var(--default-transition);
}
.list__item:hover {
    border: 2px solid var(--border-selected)
}
.list__item.focused {
    z-index: 5;
    position: relative;
}
.list__item.focused:hover {
    border: 2px solid white;
}
.list__item.dragged {
    position: absolute;
    opacity: 0.85;
    transform: rotate(3deg);
}
.list__item.dragged:hover {
    border: 2px solid white;
}
.list__item.empty {
    background-color: var(--standart-grey);
    border: 2px solid var(--standart-grey)
}
.list__item-addText {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    resize: none
}
.list__item.addText:hover {
    border: 2px solid white;
}
.list__item-addText.edit {
    text-align: left;
}
.item__content-edit {
    padding: 0.3rem;
    border: none;
    border-radius: var(--deault-border-radius);
    background: none;
    cursor: pointer;
    transition: var(--default-transition);
}
.item__content-edit .icon {
    height: 12px;
}
.item__content-edit:hover {
    background-color: var(--standart-grey);
}
.list__addItem {
    display: flex;
    align-items: center;
    padding: var(--small-gap);
    border: none;
    border-radius: var(--deault-border-radius);
    gap: 0.7rem;
    width: 100%;
    font-size: var(--board-font-size);
    cursor: pointer;
    transition: var(--default-transition);
}
.list__addItem:hover {
    background-color: var(--standart-grey);
}
.list__addItem__buttons {
    display: flex;
    align-items: center;
    gap: var(--small-gap)
}
.list__addItem-confirm {
    width: 60%;
    background-color: #2b63bd;
    padding: var(--small-gap);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--default-transition);
}
.list__addItem-confirm:hover {
    background-color: #21519e;
}
.list_addItem-cancel {
    background: none;
    border: none;
    cursor: pointer;
    height: 30px;
    transition: var(--default-transition);
}
.list_addItem-cancel:hover {
    background-color: var(--standart-grey);
    border-radius: 7px;
}
.list-addList {
    width: 100%;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--deault-border-radius);
    padding: 0.8rem;
    cursor: pointer;
    transition: var(--default-transition);
}
.list-addList:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.contextMenuBackground {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #0000005d;
}
.list__item-contextMenu {
    position: absolute;
    top: 0%;
    left: calc(100% + 6px);
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}